/*------------------------------------------------------------------
    [Table of contents]

    1. Shop
    1.1. Add to cart
    1.2. Star rating
    1.3. Quantity input
    1.4. Product price
    1.5. Product meta
    1.6. Product label
    1.7. Product stock
    1.8. Product reviews
    1.9. Product list
    1.10. Product grouped
    1.11. Product description
    1.12. Toolbar

    2. Single product

    3. Widgets

    4. Cart
    4.1 Cart items
    4.2 Cart totals

    5. Checkout
    5.1 Checkout common
    5.2 Checkout notices

    6. Order

    7. Account

    8. Forms
    8.1 Select

    9. Utils
    9.1 Demo-store
    9.2 Notices

-------------------------------------------------------------------*/
/* [1. Shop] */
/* [1.1. Add to cart]*/
@-moz-keyframes spin {
  0% {
    -moz-transform: rotateZ(0);
  }
  100% {
    -moz-transform: rotateZ(-360deg);
  }
}
@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotateZ(0);
  }
  100% {
    -webkit-transform: rotateZ(-360deg);
  }
}
@keyframes spin {
  0% {
    -moz-transform: rotateZ(0);
    -ms-transform: rotateZ(0);
    -o-transform: rotateZ(0);
    -webkit-transform: rotateZ(0);
    transform: rotateZ(0);
  }
  100% {
    -moz-transform: rotateZ(-360deg);
    -ms-transform: rotateZ(-360deg);
    -o-transform: rotateZ(-360deg);
    -webkit-transform: rotateZ(-360deg);
    transform: rotateZ(-360deg);
  }
}
.product-list .btn-add-to-cart {
  padding: 6px;
  position: relative;
  font-size: 28px;
  line-height: 1;
  height: 42px;
}
.product-list .btn-add-to-cart .default,
.product-list .btn-add-to-cart .success {
  display: block;
  width: 1em;
  text-align: center;
}
.product-list .btn-add-to-cart .success {
  display: none;
}
.product-list .btn-add-to-cart .action-tooltip {
  display: none;
}
.product-list .btn-add-to-cart.loading .loading-spin {
  -moz-animation: spin 1s infinite linear;
  -o-animation: spin 1s infinite linear;
  -webkit-animation: spin 1s infinite linear;
  animation: spin 1s infinite linear;
  -moz-transform-origin: 13.5px 13.5px;
  -ms-transform-origin: 13.5px 13.5px;
  -o-transform-origin: 13.5px 13.5px;
  -webkit-transform-origin: 13.5px 13.5px;
  transform-origin: 13.5px 13.5px;
}
.product-list .btn-add-to-cart.add-success .default {
  display: none;
}
.product-list .btn-add-to-cart.add-success .success {
  display: block;
}
.product-list .added_to_cart {
  display: none;
}
@media (min-width: 992px) {
  .product-list .btn-add-to-cart {
    -moz-transform: translateZ(0);
    -ms-transform: translateZ(0);
    -o-transform: translateZ(0);
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
  }
  .product-list .btn-add-to-cart .action-tooltip {
    display: block;
    max-width: 0;
    height: 42px;
    margin: -1px 1px;
    padding: 14px 0;
    overflow: hidden;
    position: absolute;
    top: 0;
    right: 100%;
    background: rgba(0, 0, 0, 0.6);
    color: #fff;
    font-size: 14px;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
  }
  .product-list .btn-add-to-cart:hover .action-tooltip {
    max-width: 200px;
    padding-left: 16px;
    padding-right: 16px;
  }
}
form.cart .form-group {
  display: inline-block;
  margin-bottom: 0;
  vertical-align: middle;
}
form.cart .form-control {
  display: inline-block;
  width: auto;
  vertical-align: middle;
}
form.cart .form-control-static {
  display: inline-block;
}
form.cart .input-group {
  display: inline-table;
  vertical-align: middle;
}
form.cart .input-group .input-group-addon,
form.cart .input-group .input-group-btn,
form.cart .input-group .form-control {
  width: auto;
}
form.cart .input-group > .form-control {
  width: 100%;
}
form.cart .control-label {
  margin-bottom: 0;
  vertical-align: middle;
}
form.cart .radio,
form.cart .checkbox {
  display: inline-block;
  margin-top: 0;
  margin-bottom: 0;
  vertical-align: middle;
}
form.cart .radio label,
form.cart .checkbox label {
  padding-left: 0;
}
form.cart .radio input[type="radio"],
form.cart .checkbox input[type="checkbox"] {
  position: relative;
  margin-left: 0;
}
form.cart .has-feedback .form-control-feedback {
  top: 0;
}
form.cart .has-feedback label ~ .form-control-feedback {
  top: 33px;
}
form.cart .has-feedback label ~ .form-control-feedback.reset_variations {
  top: 0;
}
.reset_variations {
  border-bottom: 0 none;
  pointer-events: auto;
}
@media (max-width: 767px) {
  .woocommerce .product .cart .form-group {
    margin-bottom: 15px;
  }
}
/* [1.2. Star rating]*/
.woocommerce .star-rating:before {
  color: #ddd;
}
.woocommerce .star-rating > span {
  color: #fc7753;
}
.woocommerce.background-dark .star-rating:before,
.woocommerce .background-dark .star-rating:before,
.background-dark .woocommerce .star-rating:before {
  color: #777;
}
.woocommerce .star-rating-review {
  font-size: 12px;
}
.woocommerce .star-rating-review .star-rating {
  float: none;
}
.woocommerce .star-rating-loop {
  padding-left: 10px;
  padding-right: 10px;
}
.woocommerce .star-rating-loop:last-child {
  padding-bottom: 15px;
}
.woocommerce .star-rating-loop .star-rating {
  margin-top: 4px;
  margin-bottom: 4px;
  float: none;
  font-size: 12px;
}
.woocommerce .star-rating-loop .star-rating:before {
  color: #ddd;
}
@media (min-width: 768px) {
  .woocommerce .star-rating-review {
    position: absolute;
    top: 74px;
  }
}
.woocommerce p.stars a {
  border-bottom: 0 none;
}
/* [1.3. Quantity input]*/
.wc-quantity {
  margin-right: 10px;
}
.wc-quantity .btn {
  padding-left: 20px;
  padding-right: 20px;
  z-index: 10;
}
.wc-quantity.input-group input.form-control[type="number"] {
  width: 64px;
  padding-left: 10px;
  padding-right: 10px;
  -moz-appearance: textfield;
  text-align: center;
}
.wc-quantity.input-group input.form-control[type="number"]::-webkit-outer-spin-button,
.wc-quantity.input-group input.form-control[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
/* [1.4. Product price] */
.woocommerce div.product p.price,
.woocommerce div.product span.price {
  color: #fc7753;
}
.woocommerce div.product p.price ins,
.woocommerce div.product span.price ins {
  font-weight: normal;
  text-decoration: none;
}
/* [1.5. Product meta] */
.product_meta > span {
  display: block;
  margin-bottom: 5px;
}
/* [1.6. Product label] */
/* Pulse Grow */
@-webkit-keyframes hvr-pulse-grow {
  to {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }
}
@keyframes hvr-pulse-grow {
  to {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }
}
.woocommerce .product .product-label,
.woocommerce .product .onsale {
  min-height: 0;
  min-width: 0;
  padding: 8px 12px;
  position: absolute;
  top: 10px;
  left: 10px;
  z-index: 10;
  background-color: #aaa;
  border-bottom: 0 none;
  border-radius: 0;
  color: #fff;
  font-size: .857em;
  font-weight: 400;
  line-height: 1;
  text-align: left;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}
.woocommerce .product .product-label:hover,
.woocommerce .product .onsale:hover,
.woocommerce .product .product-label:focus,
.woocommerce .product .onsale:focus {
  color: #fff;
}
.woocommerce .product .product-label:empty,
.woocommerce .product .onsale:empty {
  display: none;
}
.woocommerce .product .product-label.added,
.woocommerce .product .onsale.added {
  -webkit-animation-name: hvr-pulse-grow;
  animation-name: hvr-pulse-grow;
  -webkit-animation-duration: 0.25s;
  animation-duration: 0.25s;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-iteration-count: 6;
  animation-iteration-count: 6;
  -webkit-animation-direction: alternate;
  animation-direction: alternate;
}
.woocommerce .product .onsale {
  background-color: #fc7753;
}
.woocommerce .product .onsale:after {
  border-top-color: #fc7753;
  border-left-color: #fc7753;
}
.woocommerce .product .product-label.right {
  left: auto;
  right: 10px;
}
/* [1.7. Product stock] */
.woocommerce div.product .stock {
  display: inline-block;
  padding: 3px 12px;
  border-style: solid;
  border-width: 1px;
}
.woocommerce div.product .stock.in-stock {
  border-color: #5cb85c;
  color: #5cb85c;
}
.woocommerce div.product .stock.out-of-stock {
  border-color: #eb685a;
  color: #eb685a;
}
.woocommerce div.product .amount + .stock,
.woocommerce div.product .price + .stock {
  margin-left: 30px;
}
/* [1.8. Product reviews] */
.woocommerce .commentlist .children {
  padding-left: 20px;
}
.woocommerce #reviews #comments ol.commentlist {
  padding-left: 0;
  list-style: none;
}
.woocommerce #reviews #comments ol.commentlist li {
  margin: 0;
  position: relative;
}
.woocommerce #reviews #comments ol.commentlist li img.avatar {
  width: auto;
  height: auto;
  margin-right: 30px;
  padding: 0;
  position: static;
  top: initial;
  left: initial;
  background: none;
  border: 0 none;
}
.woocommerce #respond input#submit {
  padding: 10px 24px;
  background-color: #fc7753;
  border: 1px solid transparent;
  border-radius: 0;
  color: #fff;
  font-weight: normal;
  line-height: 1.75;
}
.woocommerce #respond input#submit:hover {
  background-color: #fb4f21;
  color: #fff;
}
@media (min-width: 768px) {
  .woocommerce .commentlist .children {
    padding-left: 64px;
  }
  .woocommerce .commentlist .comment-content {
    padding-left: 94px;
  }
  .woocommerce #reviews .comment-reply-title {
    margin-bottom: 26px;
  }
}
@media (min-width: 992px) {
  .woocommerce .commentlist .children {
    padding-left: 94px;
  }
}
/* [1.9. Product list] */
.woocommerce .products.related {
  clear: both;
}
.woocommerce .product-list .product {
  margin-bottom: 30px;
  position: relative;
  background: #fff;
}
.woocommerce .product-list .product .thumb-link,
.woocommerce .product-list .product .title {
  border-bottom: 0 none;
}
.woocommerce .product-list .product .title,
.woocommerce .product-list .product .star-rating-loop,
.woocommerce .product-list .product .price {
  padding: 3px 15px;
}
.woocommerce .product-list .product .title:last-child,
.woocommerce .product-list .product .star-rating-loop:last-child,
.woocommerce .product-list .product .price:last-child {
  padding-bottom: 12px;
}
.woocommerce .product-list .product .title {
  display: block;
  padding-top: 15px;
}
.woocommerce .product-list .product .title h3 {
  margin-top: 0;
  margin-bottom: 0;
  color: #404040;
  font-size: 18px;
}
.woocommerce .product-list .product .title:hover h3 {
  color: #fc7753;
}
.woocommerce .product-list .product .price {
  display: block;
  color: #404040;
  font-size: 16px;
}
.woocommerce .product-list .product .price > del {
  color: inherit;
  opacity: 0.7;
}
.woocommerce .product-list .product .price > ins {
  color: #fc7753;
  font-weight: 400;
  text-decoration: none;
}
.woocommerce .product-list .product-category .title,
.woocommerce .product-list .product-category .title:last-child {
  padding-top: 20px;
  padding-bottom: 20px;
  text-align: center;
}
.woocommerce .product-list .product-category .title .count {
  padding-left: 8px;
  padding-right: 8px;
}
.woocommerce .product-list .product-category .badge {
  margin-left: 0.5em;
  border-radius: 0;
  font-weight: 400;
}
.woocommerce .product-list .controls {
  width: 100%;
  margin-top: -52px;
  padding-left: 10px;
  padding-right: 10px;
  position: absolute;
  text-align: right;
}
.woocommerce .product-list img {
  width: 100%;
}
.woocommerce .product-list a.added-to-cart {
  display: none;
}
@media (min-width: 992px) {
  .woocommerce .product-list .btn-add-to-cart {
    opacity: 0;
    -moz-transition: all 0.2s ease-in-out, opacity 0.4s ease-in-out;
    -o-transition: all 0.2s ease-in-out, opacity 0.4s ease-in-out;
    -webkit-transition: all 0.2s ease-in-out, opacity 0.4s ease-in-out;
    transition: all 0.2s ease-in-out, opacity 0.4s ease-in-out;
  }
  .woocommerce .product-list .product:hover .btn-add-to-cart,
  .woocommerce .product-list .btn-add-to-cart.loading {
    opacity: 1;
  }
}
/* [1.10. Product grouped] */
.woocommerce div.product form.cart .group_table td .btn-add-to-cart {
  margin-bottom: 15px;
}
@media (max-width: 480px), (min-width: 768px) and (max-width: 991px) {
  .woocommerce div.product form.cart .group_table {
    margin-top: 10px;
    margin-bottom: 15px;
  }
  .woocommerce div.product form.cart .group_table,
  .woocommerce div.product form.cart .group_table tbody,
  .woocommerce div.product form.cart .group_table tr,
  .woocommerce div.product form.cart .group_table td {
    display: block;
  }
  .woocommerce div.product form.cart .group_table tr {
    position: relative;
  }
  .woocommerce div.product form.cart .group_table tr:before,
  .woocommerce div.product form.cart .group_table tr:after {
    content: " ";
    display: table;
  }
  .woocommerce div.product form.cart .group_table tr:after {
    clear: both;
  }
  .woocommerce div.product form.cart .group_table td {
    width: 100%;
    min-height: 1px;
    position: relative;
    float: left;
    top: 51px;
  }
  .woocommerce div.product form.cart .group_table td.label {
    padding-left: 0;
    overflow: hidden;
    top: -73px;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  .woocommerce div.product form.cart .group_table td.price {
    width: 28%;
    position: absolute;
    float: none;
    right: 0;
    text-align: right;
  }
  .woocommerce div.product form.cart .group_table td.price .amount {
    white-space: nowrap;
  }
}
/* [1.11. Product description] */
.woocommerce .product .woocommerce-tabs .panel .section > .container {
  margin-left: -15px;
  margin-right: -15px;
}
/* [1.12. Toolbar] */
.woocommerce .woocommerce-ordering,
.woocommerce-page .woocommerce-ordering {
  margin-bottom: 30px;
  float: none;
}
@media (min-width: 768px) {
  .woocommerce .woocommerce-result-count,
  .woocommerce-page .woocommerce-result-count {
    margin-bottom: 30px;
    margin-top: 11px;
  }
}
/* [2. Single product]*/
.woocommerce-tabs .panel.active {
  display: block !important;
}
/* [3. Widgets] */
.wc-shop-sidebar .widget:first-child h3 {
  margin-top: 0;
}
.woocommerce .woocommerce.widget_shopping_cart ul.cart_list li,
.woocommerce ul.product_list_widget li {
  padding: 5px 0 15px 100px;
  min-height: 110px;
  position: relative;
}
.woocommerce .woocommerce.widget_shopping_cart ul.cart_list li.empty,
.woocommerce ul.product_list_widget li.empty {
  padding: 0;
  min-height: 0;
}
.woocommerce .woocommerce.widget_shopping_cart ul.cart_list li a,
.woocommerce ul.product_list_widget li a {
  padding-bottom: 0;
  border-bottom: 0 none;
  font-weight: 400;
}
.woocommerce .woocommerce.widget_shopping_cart ul.cart_list li a img,
.woocommerce ul.product_list_widget li a img {
  width: 90px;
  margin-left: 0;
  position: absolute;
  float: none;
  left: 0;
}
.woocommerce .woocommerce.widget_shopping_cart ul.cart_list li .star-rating-loop,
.woocommerce ul.product_list_widget li .star-rating-loop {
  padding-left: 0;
}
.woocommerce .woocommerce.widget_shopping_cart ul.cart_list li > del,
.woocommerce ul.product_list_widget li > del {
  color: inherit;
  opacity: 0.7;
}
.woocommerce .woocommerce.widget_shopping_cart ul.cart_list li > ins,
.woocommerce ul.product_list_widget li > ins {
  color: #fc7753;
  font-weight: 400;
  text-decoration: none;
}
.woocommerce .woocommerce.widget_shopping_cart ul.cart_list li a.remove {
  width: 90px;
  height: 90px;
  top: 5px;
  z-index: 10;
  background: rgba(255, 255, 255, 0.8);
  border-radius: 0;
  color: #404040 !important;
  font-size: 38px;
  line-height: 90px;
  opacity: 0;
  -moz-transition: opacity 0.2s;
  -o-transition: opacity 0.2s;
  -webkit-transition: opacity 0.2s;
  transition: opacity 0.2s;
}
.woocommerce .woocommerce.widget_shopping_cart ul.cart_list li a.remove:hover {
  opacity: 1;
}
.woocommerce .woocommerce.widget_shopping_cart .total {
  border-top: 0 none;
}
@media (max-width: 991px) {
  .touch .woocommerce .woocommerce.widget_shopping_cart ul.cart_list li a.remove {
    display: none;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .woocommerce .woocommerce.widget_shopping_cart .buttons .btn {
    display: block;
    width: 100%;
    margin-bottom: 10px;
  }
  .woocommerce .woocommerce.widget_shopping_cart .buttons .btn:last-child {
    margin-bottom: 0;
  }
}
.woocommerce.background-dark .woocommerce.widget_shopping_cart ul.cart_list li a.remove,
.woocommerce .background-dark .woocommerce.widget_shopping_cart ul.cart_list li a.remove {
  background: rgba(0, 0, 0, 0.7);
  color: #fff !important;
}
.woocommerce.background-light .woocommerce.widget_shopping_cart ul.cart_list li a.remove,
.woocommerce .background-light .woocommerce.widget_shopping_cart ul.cart_list li a.remove {
  background: rgba(255, 255, 255, 0.8);
  color: #404040 !important;
}
.woocommerce .widget_layered_nav ul li,
.woocommerce .widget_layered_nav_filters ul li {
  padding: 0;
  float: none;
}
.woocommerce .widget_layered_nav ul li.chosen a,
.woocommerce .widget_layered_nav_filters ul li.chosen a {
  margin-left: 20px;
  position: relative;
}
.woocommerce .widget_layered_nav ul li.chosen a:before,
.woocommerce .widget_layered_nav_filters ul li.chosen a:before {
  content: '\f404';
  display: inline-block;
  width: 20px;
  position: absolute;
  left: -20px;
  color: inherit;
  font-family: "Ionicons";
  font-size: 28px;
  line-height: 28px;
}
.woocommerce .widget_price_filter .price_slider_wrapper .ui-slider.ui-widget-content {
  margin-left: 0.25em;
  margin-right: 0.25em;
  border-radius: 0;
  color: #404040;
  font-size: 24px;
}
.woocommerce .widget_price_filter .price_slider_wrapper .ui-slider.ui-widget-content:before {
  display: block;
  content: '';
  height: 0.5em;
  position: absolute;
  top: 0;
  left: -0.25em;
  right: -0.25em;
  background: #404040;
}
.woocommerce .widget_price_filter .price_slider_wrapper .ui-slider.ui-widget-content .ui-slider-range {
  background-color: #fc7753;
  border-radius: 0;
}
.woocommerce .widget_price_filter .price_slider_wrapper .ui-slider.ui-widget-content .ui-slider-handle {
  width: 0.5em;
  height: 0.5em;
  margin-left: -0.25em;
  top: 0;
  background-color: #fff;
  border-radius: 0;
}
.woocommerce .widget_price_filter .button {
  display: none;
}
.woocommerce .widget_price_filter .btn {
  float: left;
}
.woocommerce .widget_product_categories .dropdown_product_cat {
  display: none;
}
.woocommerce .widget_product_categories .dropdown_product_cat.form-control {
  display: block;
}
.woocommerce .woocommerce-product-search .input-group-btn > .btn {
  z-index: 2;
}
/* [4. Cart] */
/* [4.1 Cart items] */
.woocommerce .table-cart {
  border-bottom: 1px solid rgba(180, 180, 180, 0.2);
  /*@media (min-width: @screen-lg-min) {
            .product-name {
                padding-top: @padding-base-vertical;
            }
        }*/
}
.woocommerce .table-cart thead th {
  border-bottom: 0 none;
}
.woocommerce .table-cart .product-remove {
  width: 32px;
  padding: 0 10px 0 0;
}
.woocommerce .table-cart .product-remove .remove {
  color: #eb685a;
  font-size: 32px;
}
.woocommerce .table-cart .product-remove .remove:hover {
  background: none;
  color: #404040 !important;
}
.background-dark .woocommerce .table-cart .product-remove .remove:hover {
  color: #fff !important;
}
.woocommerce .table-cart .product-thumbnail {
  width: 90px;
  padding: 20px 0;
}
.woocommerce .table-cart .product-thumbnail img {
  width: auto;
  max-height: 100px;
}
.woocommerce .table-cart .product-thumbnail a {
  border-bottom: 0 none;
}
.woocommerce .table-cart .product-name {
  padding: 20px 0 10px 0;
}
.woocommerce .table-cart .product-price,
.woocommerce .table-cart .product-quantity,
.woocommerce .table-cart .product-subtotal {
  padding: 10px 0 20px;
  border-top: 0 none;
}
.woocommerce .table-cart .product-quantity {
  text-align: center;
}
.woocommerce .table-cart .product-quantity .form-group {
  display: inline-block;
  margin-bottom: 0;
}
.woocommerce .table-cart .product-quantity .input-group-btn {
  display: none;
}
.woocommerce .table-cart .product-quantity .wc-quantity {
  width: 64px;
  margin-right: 10px;
}
.woocommerce .table-cart .product-subtotal {
  text-align: right;
}
@media (min-width: 480px) {
  .woocommerce .table-cart .product-name,
  .woocommerce .table-cart .product-price {
    padding-left: 40px;
  }
  .woocommerce .table-cart.cart .product-thumbnail {
    display: table-cell;
  }
}
@media (min-width: 768px) {
  .woocommerce .table-cart .product-quantity .input-group-btn {
    display: table-cell;
  }
  .woocommerce .table-cart .product-quantity .wc-quantity {
    width: 166px;
  }
}
.woocommerce .cart-form .coupon,
.woocommerce .cart-form .cart-actions {
  padding-bottom: 30px;
}
.woocommerce .cart-form .coupon .btn {
  z-index: 10;
}
.woocommerce div.product form.cart .group_table .label,
.woocommerce div.product form.cart .group_table .price {
  padding-top: 10px;
}
.woocommerce .cart-collaterals .cross-sells {
  width: auto;
  float: none;
}
/* [4.1 Cart totals] */
.woocommerce .cart-totals-wrapper .cart_totals,
.woocommerce-page .cart-totals-wrapper .cart_totals {
  width: auto;
  float: none;
}
.woocommerce .cart-totals-wrapper .cart_totals table th,
.woocommerce-page .cart-totals-wrapper .cart_totals table th {
  -ms-word-break: initial;
  word-break: initial;
}
.woocommerce .cart-totals-wrapper .cart_totals table td,
.woocommerce-page .cart-totals-wrapper .cart_totals table td {
  padding-left: 10px;
}
@media (max-width: 767px) {
  .woocommerce .cart-totals-wrapper .wc-proceed-to-checkout .btn,
  .woocommerce-page .cart-totals-wrapper .wc-proceed-to-checkout .btn {
    display: block;
  }
}
@media (min-width: 768px) {
  .woocommerce .cart-totals-wrapper .cart_totals,
  .woocommerce-page .cart-totals-wrapper .cart_totals {
    padding: 0 25px 5px;
    border: 1px solid rgba(180, 180, 180, 0.2);
  }
}
@media (min-width: 992px) {
  .woocommerce .cart-totals-wrapper,
  .woocommerce-page .cart-totals-wrapper {
    padding-left: 40px;
  }
}
.woocommerce ul#shipping_method li {
  padding-left: 0;
  text-indent: 0;
}
.woocommerce .shipping label {
  display: inline;
  font-weight: 400;
}
/* [5. Checkout] */
/* [5.1. Checkout common] */
.woocommerce-checkout #payment {
  background: none;
  border: 0 none;
  border-radius: 0;
}
.woocommerce-checkout #payment .payment-wrapper {
  border: 1px solid rgba(180, 180, 180, 0.2);
}
.woocommerce-checkout #payment div.payment_box {
  padding: 0 0 1.5em 38px;
  margin: 0;
  border-radius: 0;
  line-height: 1.75;
  background: none;
  color: #404040;
}
.woocommerce-checkout #payment div.payment_box:before {
  display: none;
}
.woocommerce-checkout #payment ul.payment_methods {
  padding: 20px;
  border-bottom-color: rgba(180, 180, 180, 0.2);
}
.woocommerce-checkout #payment ul.payment_methods li label {
  cursor: pointer;
  font-weight: normal;
}
.woocommerce-checkout #payment ul.payment_methods li img {
  display: none;
}
.woocommerce-checkout #payment .payment_method_paypal .about_paypal {
  margin-left: 2em;
  float: none;
  line-height: 2;
  opacity: 0.7;
}
.woocommerce-checkout.background-dark #payment div.payment_box {
  color: #fff;
}
/* [5.2. Checkout notices] */
.woocommerce form.login,
.woocommerce form.checkout_coupon,
.woocommerce form.register {
  border: 0 none;
  border-radius: 0;
  padding: 0;
}
/* [6. Order] */
.woocommerce .order_details {
  margin-top: 1em;
  margin-bottom: 1em;
  padding-left: 0;
}
.woocommerce .order_details li {
  padding-right: 0;
  margin: 1em 4em 1em 0;
  border-right: 0 none;
  font-size: 1em;
}
.woocommerce .order_details li > strong {
  margin-top: 0.5em;
  font-size: 1.2em;
}
.woocommerce .btn-form-tracking {
  margin-top: 33px;
}
/* [7. Account] */
.woocommerce-account .account-heading {
  margin-top: 60px;
}
.woocommerce-account .addresses .title .edit {
  float: none;
  margin-top: 36px;
  margin-left: 20px;
}
@media (min-width: 992px) {
  .woocommerce-account .account-heading {
    margin-top: 80px;
  }
}
/* [8. Forms] */
/* [8.1. Select] */
.woocommerce .select2-container .select2-choice {
  display: block;
  height: 50px;
  padding: 10px 24px;
  font-size: 16px;
  line-height: 1.75;
  color: #404040;
  background-color: #fff;
  border: 1px solid #fff;
  border-radius: 0;
}
.woocommerce .select2-container.select2-dropdown-open .select2-choice {
  border-color: #bbb;
  border-bottom-color: transparent;
}
.woocommerce .select2-container.select2-drop-above .select2-choice {
  border-bottom-color: #bbb;
  border-top-color: transparent;
}
.select2-container.form-control {
  padding: 0;
  border: 0 none;
}
.select2-drop.select2-drop-active {
  border-color: #bbb;
  border-radius: 0;
}
.select2-drop.select2-drop-active.select2-drop-above {
  border-top-color: #bbb;
}
.woocommerce form form .form-row,
.woocommerce-page form .form-row {
  padding-left: 0;
  padding-right: 0;
}
.woocommerce form form .form-row-first,
.woocommerce-page form .form-row-first,
.woocommerce form form .form-row-last,
.woocommerce-page form .form-row-last {
  width: 47.5%;
}
.woocommerce form.cart.variations_form .variations select.form-control {
  margin-right: 0;
}
.woocommerce form.cart.variations_form .variations select.form-control.option-selected {
  background-image: none;
}
/* [9. Utils] */
/* [9.1. Demo-store] */
.woocommerce-demo-store p.demo_store {
  top: 70px;
}
.admin-bar.woocommerce-demo-store p.demo_store {
  top: 102px;
}
@media (min-width: 1320px) {
  .woocommerce-demo-store p.demo_store {
    top: 84px;
  }
  .admin-bar.woocommerce-demo-store p.demo_store {
    top: 116px;
  }
}
/* [9.2. Notices] */
.alert .button {
  display: none!important;
}
