button {
	white-space: nowrap;
	border: none;
	cursor: pointer;
	&.disabled,
	&:disabled {
		@include vendor('pointer-events', 'none');
		opacity: 0.25;
	}
	&.fit {
		width: 100%;
	}
	&.rect {
		background: _palette(color1);
		border-radius: 0;
		color: white;
	}
}

.beus-button {
	&.is-special {
		padding: 29px 38px;
		background: _palette(color1);
		border-radius: 40px;
		color: rgba(white, 0.9);
		font-weight: 700;
		font-size: 22px;
		font-family: _font(family-special);
	}
}
