img {
	border: 0;
}

a.kboard-default-button-small,
input.kboard-default-button-small,
button.kboard-default-button-small {
	position: relative;
	display: inline-block;
	*display: inline;
	zoom: 1;
	margin: 0;
	padding: 0 10px;
	height: 28px;
	line-height: 28px;
	font-size: 13px;
	font-weight: normal;
	letter-spacing: normal;
	color: white !important;
	background: _palette(color1) !important;
	border: none;
	border-radius: 0;
	text-decoration: none !important;
	cursor: pointer;
	vertical-align: middle;
	text-shadow: none;
	box-shadow: none;
	transition-duration: 0.3s;
	box-sizing: content-box;
}

a.kboard-default-button-small {
	&:hover,
	&:focus,
	&:active {
		opacity: 0.7;
	}
}

input.kboard-default-button-small {
	&:hover,
	&:focus,
	&:active {
		opacity: 0.7;
	}
}

button.kboard-default-button-small {
	&:hover,
	&:focus,
	&:active {
		opacity: 0.7;
	}
}

.kboard-default-poweredby {
	float: left;
	padding-bottom: 15px;
	width: 100%;
	font-size: 13px;
}

.kboard-default-new-notify {
	display: inline-block;
	*display: inline;
	zoom: 1;
	padding: 2px 2px;
	line-height: 10px;
	font-size: 10px;
	color: white;
	background-color: #f61b5d;
	font-weight: normal;
}

.kboard-default-cut-strings {
	width: auto;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	word-wrap: normal;
}

#kboard-default-list {
	display: inline-block;
	*display: inline;
	zoom: 1;
	margin: 0;
	width: 100%;
	.kboard-list-header {
		float: left;
		display: table;
		padding-bottom: 15px;
		width: 100%;
		.kboard-total-count {
			*float: left;
			display: table-cell;
			font-size: 13px;
		}
		.kboard-sort {
			*float: right;
			display: table-cell;
			text-align: right;
			select {
				display: inline;
				margin: 0;
				padding: 0;
				width: auto;
				height: 26px;
				line-height: 26px;
				font-size: 12px;
				color: #666666;
				border-radius: 0;
				border: 1px solid #f1f1f1;
				background: white;
				vertical-align: middle;
				box-shadow: none;
				box-sizing: content-box;
				text-indent: 0;
			}
		}
	}
	.kboard-category {
		float: left;
		padding-bottom: 15px;
		width: 100%;
		&.category-mobile {
			display: none;
		}
		&.category-pc {
			display: block;
		}
		select {
			display: inline;
			margin: 0 0 5px 0;
			padding: 0;
			width: 100%;
			min-width: 100%;
			height: 28px;
			line-height: 28px;
			font-size: 12px;
			color: #666666;
			border-radius: 0;
			border: 1px solid #f1f1f1;
			background: white;
			vertical-align: middle;
			box-shadow: none;
			box-sizing: border-box;
			text-indent: 0;
		}
		.kboard-category-list {
			margin: 0 0 5px 0;
			padding: 0;
			list-style: none;
			border: 0;
			background-color: #f9f9f9;
			overflow: hidden;
			li {
				display: inline-block;
				*display: inline;
				zoom: 1;
				margin: 0;
				padding: 0 5px;
				border: 0;
				list-style: none;
				a {
					display: block;
					padding: 10px 10px 8px 10px;
					font-size: 13px;
					border: 0;
					border-bottom: 2px solid transparent;
					text-decoration: none;
					text-shadow: none;
					box-shadow: none;
					color: #515151;
				}
				&.kboard-category-selected a {
					font-weight: bold;
					border-bottom: 2px solid #545861;
					color: #545861;
				}
			}
		}
	}
	.kboard-list {
		float: left;
		width: 100%;
		background-color: white;
		table {
			display: table;
			table-layout: fixed;
			margin: 0;
			padding: 0;
			width: 100%;
			border: 0;
			font-size: 13px;
			border-collapse: collapse;
			a {
				color: black;
				font-weight: normal;
				text-decoration: none;
				border: 0;
				box-shadow: none;
				font-size: 13px;
			}
			tr {
				border: 0;
				background-color: transparent;
				transition-duration: 0.3s;
			}
			td {
				padding: 10px 0;
				height: auto;
				text-align: center;
				vertical-align: middle;
				font-size: 13px;
				&.kboard-list-uid {
					width: 72px;
				}
				&.kboard-list-title {
					width: auto;
				}
				&.kboard-list-user {
					width: 80px;
				}
				&.kboard-list-date {
					width: 75px;
				}
				&.kboard-list-vote,
				&.kboard-list-view {
					width: 55px;
				}
			}
		}
		thead {
			background-color: transparent;
			tr td {
				font-weight: bold;
				color: #545861;
				border: 0;
				border-bottom: 2px solid #f1f1f1;
			}
		}
		tbody {
			tr {
				td {
					word-break: break-all;
					border: 0;
					border-bottom: 1px solid #f1f1f1;
				}
				&:hover {
					background-color: #f7f7f7;
				}
				&.kboard-list-notice {
					background-color: #f4f4f4;
				}
				&.kboard-list-selected .kboard-default-cut-strings {
					font-weight: bold;
				}
			}
			td {
				&.kboard-list-title {
					text-align: left;
					img {
						display: inline;
						margin: 0;
						width: auto;
						height: auto;
						vertical-align: middle;
						max-width: 100%;
					}
					.kboard-comments-count {
						color: _palette(color1);
					}
				}
				&.kboard-list-user img.avatar {
					display: inline;
					margin: 0;
					width: 24px;
					max-width: none;
					height: 24px;
					vertical-align: middle;
					border-radius: 50%;
				}
			}
		}
		.kboard-mobile-contents {
			display: none;
			font-size: 12px;
			color: #999999;
			.contents-item {
				display: inline;
				margin: 0;
				padding: 0;
				img.avatar {
					display: inline;
					margin: 0;
					width: 24px;
					max-width: none;
					height: 24px;
					vertical-align: middle;
					border-radius: 50%;
				}
			}
			.contents-separator {
				display: inline;
				margin: 0;
				padding: 0 2px;
				color: #bebebe;
			}
		}
	}
	.kboard-pagination {
		float: left;
		padding: 15px 0;
		width: 100%;
		.kboard-pagination-pages {
			float: left;
			margin: 0;
			padding: 0;
			width: 100%;
			list-style: none;
			text-align: center;
			border: 0;
			li {
				display: inline-block;
				*display: inline;
				zoom: 1;
				margin: 0;
				padding: 0 1px;
				background: none;
				border: 0;
				list-style: none;
				a {
					display: block;
					margin: 0;
					padding: 0 11px;
					height: 28px;
					line-height: 28px;
					font-size: 13px;
					color: #999999;
					text-decoration: none;
					border: 0;
					background-color: #f9f9f9;
					box-shadow: none;
					transition-duration: 0.3s;
				}
				&:hover a,
				&.active a {
					border: 0;
					color: white;
					background-color: _palette(color1);
				}
				&:before,
				&:after {
					display: none;
				}
			}
		}
	}
	.kboard-search {
		float: left;
		padding-bottom: 15px;
		width: 100%;
		text-align: center;
		select {
			display: inline;
			margin: 0;
			padding: 0 5px;
			width: 100px;
			min-width: 100px;
			height: 26px;
			font-size: 13px;
			color: #666666;
			border-radius: 0;
			border: 1px solid #f1f1f1;
			background: white;
			line-height: 26px;
			vertical-align: middle;
			box-shadow: none;
			box-sizing: content-box;
		}
		input {
			display: inline;
			margin: 0;
			padding: 0 5px;
			width: 200px;
			min-width: 200px;
			height: 26px;
			font-size: 13px;
			color: #666666;
			border-radius: 0;
			border: 1px solid #f1f1f1;
			background: white;
			line-height: 26px;
			vertical-align: middle;
			box-shadow: none;
			box-sizing: content-box;
		}
	}
	.kboard-control {
		float: left;
		padding-bottom: 15px;
		width: 100%;
		text-align: right;
	}
}

#kboard-default-editor {
	display: inline-block;
	*display: inline;
	zoom: 1;
	margin: 0;
	width: 100%;
	select {
		display: inline;
		margin: 0;
		padding: 0 5px;
		font-size: 13px;
		width: 30%;
		height: 28px;
		line-height: 28px;
		color: #666666;
		border-radius: 0;
		border: 0;
		border-bottom: 1px solid #dcdcdc;
		box-shadow: none;
		background-color: transparent;
		box-sizing: content-box;
		vertical-align: top;
		text-indent: 0;
	}
	input {
		&[type=text],
		&[type=email],
		&[type=number],
		&[type=date],
		&[type=password] {
			display: inline;
			margin: 0;
			padding: 0 5px;
			width: 30%;
			height: 28px;
			line-height: 28px;
			font-size: 13px;
			color: #666666;
			border-radius: 0;
			border: 0;
			border-bottom: 1px solid #dcdcdc;
			box-shadow: none;
			background-color: transparent;
			box-sizing: content-box;
			vertical-align: top;
		}
	}
	select:hover {
		border-bottom: 1px solid #9e9e9e;
	}
	input {
		&[type=text]:hover,
		&[type=email]:hover,
		&[type=number]:hover,
		&[type=date]:hover,
		&[type=password]:hover {
			border-bottom: 1px solid #9e9e9e;
		}
	}
	select:focus {
		border-bottom: 2px solid #9e9e9e;
	}
	input {
		&[type=text]:focus,
		&[type=email]:focus,
		&[type=number]:focus,
		&[type=date]:focus,
		&[type=password]:focus {
			border-bottom: 2px solid #9e9e9e;
		}
		&[type=file] {
			display: inline;
			margin: 0;
			padding: 0;
			width: 30%;
			font-size: 12px;
			color: #666666;
			border-radius: 0;
			border: 0;
			box-shadow: none;
			background-color: transparent;
		}
	}
	.kboard-attr-title input {
		width: 70%;
	}
	.kboard-attr-row {
		float: left;
		padding: 5px 0;
		width: 100%;
		background-color: white;
		.attr-name {
			display: inline;
			float: left;
			margin: 0;
			padding: 0 10px 0 20px;
			width: 120px;
			line-height: 30px;
			color: #545861;
			font-size: 13px;
			font-weight: bold;
			img {
				display: inline;
				margin: 0;
				padding: 0;
				width: auto;
				max-width: 100%;
				vertical-align: middle;
			}
		}
		.attr-value {
			margin-left: 150px;
			line-height: 30px;
			font-size: 13px;
			.attr-value-option {
				display: inline;
				padding-right: 20px;
				width: auto;
				cursor: pointer;
				input[type=checkbox] {
					cursor: pointer;
					height: initial;
				}
			}
			.description {
				color: #666666;
			}
		}
	}
	.kboard-confirm-row {
		padding: 100px 0;
	}
	.kboard-content {
		float: left;
		padding: 9px 0;
		width: 100%;
		text-align: center;
		background-color: white;
		textarea {
			display: inline;
			margin: 0;
			padding: 0;
			width: 100%;
			min-width: 100%;
			max-width: 100%;
			height: 250px;
			font-size: 13px;
			box-sizing: border-box;
		}
	}
	.kboard-control {
		float: left;
		padding: 15px 0;
		width: 100%;
		.left {
			position: static;
			float: left;
		}
		.right {
			position: static;
			float: right;
			width: 50%;
			text-align: right;
		}
	}
}

#kboard-default-document {
	display: inline-block;
	*display: inline;
	zoom: 1;
	margin: 0;
	width: 100%;
	.kboard-document-wrap {
		float: left;
		width: 100%;
		background-color: white;
	}
	.kboard-title {
		float: left;
		width: 100%;
		h1 {
			margin: 0;
			padding: 12px 22px;
			color: #545861;
			font-weight: bold;
			font-size: 22px;
			line-height: 30px;
			text-align: left;
		}
	}
	.kboard-detail {
		clear: both;
		float: left;
		width: 100%;
		border-top: 1px solid #f1f1f1;
		border-bottom: 1px solid #f1f1f1;
		background-color: #f9f9f9;
		font-size: 13px;
		.detail-attr {
			display: inline-block;
			*display: inline;
			zoom: 1;
			float: left;
			margin: 0;
			padding: 12px 35px 12px 22px;
			.detail-name {
				float: left;
				font-weight: bold;
				color: #545861;
				text-align: right;
			}
			.detail-value {
				float: left;
				padding-left: 20px;
				color: #545861;
				a {
					color: #545861;
					text-decoration: none;
					border: 0;
					box-shadow: none;
				}
				img.avatar {
					display: inline;
					margin: 0;
					width: 24px;
					max-width: none;
					height: 24px;
					vertical-align: middle;
					border-radius: 50%;
				}
			}
		}
	}
	.kboard-content {
		clear: both;
		float: left;
		width: 100%;
		min-height: 200px;
		.content-view {
			margin: 0;
			padding: 22px;
			word-break: break-all;
			img {
				display: inline;
				margin: 0;
				width: auto;
				height: auto;
				vertical-align: middle;
				max-width: 100%;
			}
			p {
				margin: 0 0 0.75em;
				&:last-child {
					margin: 0;
				}
			}
			.thumbnail-area {
				text-align: center;
			}
			.aligncenter {
				display: block;
				margin-right: auto;
				margin-left: auto;
			}
			.alignright {
				float: right;
			}
			.alignleft {
				float: left;
			}
		}
	}
	.kboard-document-action {
		padding: 0 22px 5px 22px;
		overflow: hidden;
		line-height: 1;
		.left {
			position: static;
			float: left;
		}
		.right {
			position: static;
			float: right;
			text-align: right;
		}
	}
	.kboard-attach {
		clear: both;
		margin: 0 22px;
		padding: 10px 0 5px 0;
		font-size: 12px;
		overflow: hidden;
		line-height: 1;
		border-top: 1px dashed #ededed;
	}
	.kboard-button-action {
		margin: 0 0 5px 0;
		padding: 4px 5px;
		font-size: 12px;
		font-weight: normal;
		line-height: 12px;
		text-align: left;
		border: 1px solid #ededed;
		background: none;
		background-color: transparent;
		border-radius: 2px;
		letter-spacing: normal;
		cursor: pointer;
		vertical-align: middle;
		text-shadow: none;
		box-shadow: none;
		span {
			position: static;
			display: inline;
			margin: 0;
			padding: 0;
			font-size: 12px;
		}
	}
	.kboard-button-like {
		color: #ff5959;
	}
	.kboard-button-unlike {
		color: #3d62aa;
	}
	.kboard-button-print,
	.kboard-button-download {
		color: gray;
	}
	.kboard-comments-area {
		float: left;
		width: 100%;
	}
	.kboard-document-navi {
		float: left;
		padding-top: 15px;
		width: 100%;
		a {
			display: block;
			text-decoration: none;
			border: 0;
			font-size: 13px;
			line-height: 20px;
			box-shadow: none;
			color: #545861;
			transition-duration: .3s;
		}
		.navi-document-title {
			display: block;
		}
		.navi-arrow {
			position: absolute;
			display: block;
		}
		.kboard-prev-document {
			position: relative;
			float: left;
			width: 45%;
			.navi-document-title {
				padding-left: 15px;
			}
			.navi-arrow {
				left: 0;
				top: 0;
			}
			&:hover a {
				color: black;
			}
		}
		.kboard-next-document {
			position: relative;
			float: right;
			width: 45%;
			text-align: right;
			.navi-document-title {
				padding-right: 15px;
			}
			.navi-arrow {
				right: 0;
				top: 0;
			}
			&:hover a {
				color: black;
			}
		}
	}
	.kboard-control {
		float: left;
		padding: 15px 0;
		width: 100%;
		.left {
			position: static;
			float: left;
		}
		.right {
			position: static;
			float: right;
			text-align: right;
		}
	}
}

#kboard-default-latest table {
	display: table;
	table-layout: fixed;
	width: 100%;
	border: 0;
	border-bottom: 1px solid #f1f1f1;
	tr {
		padding: 0;
		border: 0;
	}
	th {
		padding: 5px 0;
		height: auto;
		border: 0;
		text-align: center;
	}
	td {
		padding: 5px 0;
		height: auto;
		border: 0;
		border-top: 1px solid #f1f1f1;
	}
	.kboard-latest-title {
		padding-left: 5px;
		font-size: 13px;
		a {
			text-decoration: none;
			box-shadow: none;
		}
		img {
			display: inline;
			margin: 0;
			width: auto;
			height: auto;
			vertical-align: middle;
			max-width: 100%;
		}
		.kboard-comments-count {}
	}
	.kboard-latest-date {
		width: 80px;
		text-align: center;
		font-size: 13px;
	}
}

@media screen and (max-width: 600px) {
	#kboard-default-list {
		.kboard-category {
			&.category-mobile {
				display: block;
			}
			&.category-pc {
				display: none;
			}
		}
		.kboard-list {
			table {
				border-top: 1px solid #f1f1f1;
				thead {
					display: none;
				}
				td {
					&.kboard-list-title {
						padding: 10px 5px;
						.kboard-default-cut-strings {
							margin-bottom: 10px;
							white-space: normal;
							font-size: 15px;
							line-height: 23px;
						}
					}
					&.kboard-list-uid,
					&.kboard-list-user,
					&.kboard-list-date,
					&.kboard-list-vote,
					&.kboard-list-view {
						display: none;
					}
				}
			}
			.kboard-mobile-contents {
				display: block;
			}
		}
		.kboard-pagination .kboard-pagination-pages li {
			display: none;
			&.first-page,
			&.last-page,
			&.prev-page,
			&.next-page,
			&.active {
				display: inline-block;
			}
			&.prev-page a,
			&.next-page a {
				padding: 0 18px;
			}
		}
		.kboard-search {
			select {
				float: left;
				margin-right: 1%;
				width: 29%;
				min-width: 29%;
				height: 28px;
				line-height: 28px;
				box-sizing: border-box;
			}
			input {
				float: left;
				margin-right: 1%;
				width: 49%;
				min-width: 49%;
				height: 28px;
				line-height: 28px;
				box-sizing: border-box;
			}
			button {
				float: left;
				width: 20%;
				min-width: 20%;
				box-sizing: border-box;
			}
		}
	}
	#kboard-default-editor {
		select {
			width: 100%;
			box-sizing: border-box;
		}
		input {
			&[type=text],
			&[type=email],
			&[type=number],
			&[type=date],
			&[type=password],
			&[type=file] {
				width: 100%;
				box-sizing: border-box;
			}
		}
		.kboard-attr-row {
			padding: 10px 0;
			.attr-name {
				padding: 0;
				width: 100%;
				font-size: 14px;
			}
			.attr-value {
				margin: 0;
			}
		}
	}
	#kboard-default-document {
		.kboard-title h1 {
			padding: 10px 5px;
			font-size: 18px;
		}
		.kboard-content .content-view {
			padding: 10px 5px;
		}
		.kboard-detail .detail-attr {
			clear: both;
			padding: 10px 5px;
			line-height: normal;
		}
		.kboard-document-action {
			padding: 10px 5px 5px 5px;
		}
		.kboard-attach {
			margin: 0 5px;
			padding: 10px 0 5px 0;
		}
		.kboard-document-navi {
			.kboard-prev-document {
				width: 100%;
			}
			.kboard-next-document {
				margin-top: 10px;
				float: left;
				width: 100%;
				text-align: left;
			}
		}
	}
}
