footer {
	background: rgba(192, 203, 230, 0.15);
	.container {
		max-width: 54.87rem;
	}
	li {
		margin-bottom: 0.535rem;
		a {
			color: _palette(color1);
			font-size: 1.071rem;
			font-weight: 500;
		}
	}
	.personal-info {
		margin-top: 5.68rem;
		h4 {
			font-size: 0.643rem;
			font-weight: 500;
		}
		h5 {
			font-size: 0.643rem;
			font-weight: 300;
		}
	} // Site Info
	.customer-service {
		border-left: 1px solid rgba(192, 203, 230, 0.5);
		padding-left: 1.929rem;
		h1 {
			font-size: 1.071rem;
			font-weight: 900;
		}
		h2,
		h3 {
			color: _palette(color1);
			font-weight: 500;
			font-size: 1.071rem;
		}
		.service-time {
			span {
				vertical-align: top;
				color: _palette(fg-bold);
				font-weight: 500;
				font-size: 0.75rem;
			}
			.servcie-time-details {
				display: inline-block;
				h6 {
					font-weight: 500;
					&:nth-child(1) {
						color: _palette(color1);
					}
				}
			}
		}
		.social-links {
			font-size: 1.5rem;
			margin-top: 1.508rem;
			.beus-icon {
				margin-right: 1.07rem;
			}
		}
	}
}
