#post-1287 {
	// Section 01
	.section-01 {
		text-align: center;
		padding-top: 10.28rem;
		padding-bottom: 6.85rem;
		img {
			width: 8.574rem;
		}
		h1 {
			font-size: 1.714rem;
			font-weight: 900;
		}
		p {
			font-size: 1.178rem;
		}
	}
	// Section 02
	.section-02 {
		text-align: center;
		padding-top: 5.144rem;
		padding-bottom: 7.60rem;
		h1 {
			font-size: 1.714rem;
			font-weight: 900;
		}
	}
	// Section 03
	.section-03 {
		text-align: center;
		padding-top: 5.144rem;
		padding-bottom: 7.60rem;
		h1 {
			font-size: 1.6rem;
			font-weight: 900;
		}
		.vc_col-sm-8 {
			text-align: left;
		}
		img {
			width: 10.18rem;
		}
	}
	// Section 04
	.section-04 {
		text-align: center;
		padding-top: 5.144rem;
		max-width: 54.87rem;
		margin-left: auto;
		margin-right: auto;
	}
}
