#post-1289 {
	.section-01 {
		height: 25.57rem;
		padding-top: 12rem;
		.vc_column_container {
			max-width: 54.87rem;
			position: absolute;
			right: 50%;
			transform: translateX(50%);
		}
		h1 {
			font-size: 1.5rem;
		}
	}
	.section-02 {
		max-width: 54.87rem;
		margin-right: auto;
		margin-left: auto;
		.vc_grid-btn-load_more a {
			width: 128px;
			height: 52px;
			line-height: 52px;
			border-radius: 2px;
			background-color: rgba(138, 117, 160, 0.1) !important;
			border: solid 1px #8a75a0;
			color: _palette(fg-bold) !important;
			font-size: 0.964rem;
			padding: 0 !important;
		}
		.vc_btn3-container.vc_btn3-inline {
			margin-bottom: 6.913rem;
		}
	}
}
