#post-1448 {
	.section-01 {
		height: 25.57rem;
		padding-top: 12rem;
		.vc_column_container {
			max-width: 54.87rem;
			position: absolute;
			right: 50%;
			transform: translateX(50%);
		}
		h1 {
			font-size: 1.5rem;
		}
	}
	.section-02 {
		max-width: 54.87rem;
		margin-right: auto;
		margin-left: auto;
	}
}
