#build-promo-banner {

	.section-content>.vc_row {
		padding: 7rem 0;
		/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ef2554+0,ef2554+15,3d0f13+100&1+0,0.25+100 */
		background: -moz-linear-gradient(-45deg,  rgba(239,37,84,1) 0%, rgba(239,37,84,0.89) 15%, rgba(61,15,19,0.25) 100%); /* FF3.6-15 */
		background: -webkit-linear-gradient(-45deg,  rgba(239,37,84,1) 0%,rgba(239,37,84,0.89) 15%,rgba(61,15,19,0.25) 100%); /* Chrome10-25,Safari5.1-6 */
		background: linear-gradient(135deg,  rgba(239,37,84,1) 0%,rgba(239,37,84,0.89) 15%,rgba(61,15,19,0.25) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ef2554', endColorstr='#403d0f13',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
		@include breakpoint(small) {
			padding: 7rem 2rem;
		}
	}
	a {
		@include transition (all #{_duration(transition)} ease-in-out);
		font-weight: 900;
		color: white;
		line-height: 4rem;
		font-size: 3rem;
		word-spacing: 0.4rem;
		&:hover {
			font-style: italic;
			font-size: 3.2rem;
		}
	}
}