.grid-filters {
	margin-bottom: 7rem;
}
.grid:not(.grid-gallery) {
	.grid-cell-full {
		border-radius: 50%;
		margin: 2rem !important;
	}
}
.grid .grid-content .caption .center {
	&:before {
		position: absolute;
		content:"";
		top:0;
		left:0;
		width:100%;
		height:100%;
		@include vendor('transition', ( 'all #{_duration(grid-item)} ease-out' )  );
		opacity:0.9;
		background-image: linear-gradient(to right, #f78ca0 0%, #f9748f 19%, #fd868c 60%, #fe9a8b 100%);
	}
	&:hover {
		&:before {
			opacity: 0.4;
		}
	}
	.center-content {
		position: absolute;
		@include center(y);
		width: 100%;
	}
	h3 {
		margin-bottom: 0 !important;
		font-weight: 900;
		@include breakpoint(small) {
			font-size: 1.2rem;
		}
	}
	.categories {
		font-size: 5rem;
		margin-bottom: 0 !important;
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		&:before {
			position: absolute;
			content:"";
			top:0;
			left:0;
			width:100%;
			height:100%;
			opacity:0.95;
		}
		@include breakpoint(medium) {
			font-size: 3rem;
		}
		@include breakpoint(small) {
			margin-top: 0 !important;
			line-height: 4rem;
		}
	}
}