<aside class="menu">
	<p class="menu-label">
		관리자
	</p>
	<ul class="menu-list">
		<li><a [routerLink]="['submit-result']" routerLinkActive="is-active">제출 내역</a></li>
	<!-- 	<li><a [routerLink]="['survey-result']" routerLinkActive="is-active">설문내역</a></li>
		<li><a [routerLink]="['cart']" routerLinkActive="is-active">장바구니내역</a></li>
		<li>
			<a [routerLink]="['partners']" routerLinkActive="is-active">파트너 관리</a>
			<ul>
				<li><a [routerLink]="['partners/place-partners']" routerLinkActive="is-active">장소</a></li>
				<li><a [routerLink]="['partners/deco-partners']" routerLinkActive="is-active">데코</a></li>
				<li><a [routerLink]="['partners/dress-partners']" routerLinkActive="is-active">예복</a></li>
				<li><a [routerLink]="['partners/snap-partners']" routerLinkActive="is-active">사진</a></li>
				<li><a [routerLink]="['partners/dinner-partners']" routerLinkActive="is-active">식사</a></li>
				<li><a [routerLink]="['partners/etc-partners']" routerLinkActive="is-active">기타</a></li>
			</ul>
		</li> -->
	</ul>
	<p class="menu-label">
		<!-- 고객 -->
	</p>
	<ul class="menu-list">
		<li>
			<!-- <a routerLinkActive="is-active" [routerLink]="['consults']">상담관리</a> -->
			<ul>
				<!-- <li><a [routerLink]="['consults/one-to-one']" routerLinkActive="is-active">1:1 상담 (카카오 상담)</a></li>
				<li><a href="/wp-admin/admin.php?page=appointment-calendar" routerLinkActive="is-active">방문 상담</a></li> -->
				<!-- <li><a [routerLink]="['consults/board']" routerLinkActive="is-active">게시판 상담</a></li> -->
			</ul>
		</li>
	</ul>
</aside>
