/**
 *  Default Fonts
 */
/**
 *  Default Fonts
 */

@font-face {
	font-family: 'NanumSquare';
	font-style: normal;
	font-weight: 100;
	src: local('NanumSquare'), url('/fonts/NanumSquareLight.woff2') format('woff2'), url('/fonts/NanumSquareLight.woff') format('woff'), url('/fonts/NanumSquareLight.ttf') format('truetype'), url('/fonts/NanumSquareLight.eot?#iefix') format('embedded-opentype');
}

@font-face {
	font-family: 'NanumSquare';
	font-style: normal;
	font-weight: 400;
	src: local('NanumSquare'), url('/fonts/NanumSquareRegular.woff2') format('woff2'), url('/fonts/NanumSquareRegular.woff') format('woff'), url('/fonts/NanumSquareRegular.ttf') format('truetype'), url('/fonts/NanumSquareRegular.eot?#iefix') format('embedded-opentype');
}

@font-face {
	font-family: 'NanumSquare';
	font-style: normal;
	font-weight: 700;
	src: local('NanumSquare'), url('/fonts/NanumSquareBold.woff2') format('woff2'), url('/fonts/NanumSquareBold.woff') format('woff'), url('/fonts/NanumSquareBold.ttf') format('truetype'), url('/fonts/NanumSquareBold.eot?#iefix') format('embedded-opentype');
}

