#post-1291 {
	.signin-form {
		padding-top: 10.28rem;
		padding-bottom: 5.14rem;
		background: #edeef0;
		form {
			background: white;
			border: solid 1px rgba(51, 51, 51, 0.25);
			max-width: 38.15rem;
			margin: 0 auto;
			text-align: center;
			padding: 3.16rem 4.93rem;
			border-radius: 2px;
		}
		legend {
			font-size: 1.5rem;
			font-weight: 400;
		}
		input {
			width: 100%;
			height: 3rem;
			border: solid 1px rgba(51, 51, 51, 0.2);
			color: rgba(51, 51, 51, 0.33);
			padding-left: 1.071rem;
			border-radius: 2px;
		}
		#log {
			margin-top: 2.14rem;
		}
		#pwd {
			margin-top: 1.5rem;
		}
		label {
			display: none;
		}
		.beus-login {
			margin-top: 3rem;
			font-size: 0.964rem;
			width: 100%;
			padding: 1.23rem 0;
			border-radius: 2px;
		}
		.beus-join {
			width: 100%;
			padding: 1.23rem 0;
			font-size: 0.85rem;
			background: transparent;
			border: solid 1px rgba(51, 51, 51, 0.5);
			color: rgba(51, 51, 51, 0.75);
			border-radius: 2px;
		}
		hr {
			display: block;
			height: 1px;
			border: 0;
			border-top: 1px solid #bbbbbb;
			margin: 2.57rem 0;
			padding: 0;
		}
		.cosmosfarm-social-login {
			a {
				display: block;
				color: _palette(color2);
				padding: 1.286rem 0;
				font-size: 0.85rem;
				margin-bottom: 1.07rem;
				border-radius: 2px;
			}
			.naver {
				border: 1px solid #2db400;
			}
			.kakao {
				border: 1px solid #ffcd00;
			}
		}
		.pwdreset {
			margin-top: 4.28rem;
			text-align: center;
			a {
				padding-bottom: 0.428rem;
				color: _palette(color2);
				border-bottom: 1px solid _palette(color2);
			}
		}
	}
}
.loginfailed {
	padding-top: 10.28rem;
	text-align: center;
	padding-bottom: 5.14rem;
}
