.img1 {
	background: url('assets/images/build003/build003-poster.jpg') no-repeat;
	-webkit-background-size: contain;
	-moz-background-size: contain;
	-o-background-size: contain;
	background-size: contain;
	display: block;
	height: 100vw;
}
