.img1 {
	background: url('assets/images/build004/build004-poster.jpg') no-repeat;
	-webkit-background-size: contain;
	-moz-background-size: contain;
	-o-background-size: contain;
	background-size: contain;
	display: block;
	height: 37rem;
	margin-bottom: 1rem;
}
