/* NanumSquare Fonts */
@font-face {
	font-family: 'NanumSquare';
	font-weight: 700;
	src: local('./NanumSquare Bold'),
	url('/fonts/NanumSquare/NanumSquareBold.woff2') format('woff2'),
	url('/fonts/NanumSquare/NanumSquareBold.woff') format('woff'),
	url('/fonts/NanumSquare/NanumSquareBold.ttf') format('truetype');
}
@font-face {
	font-family: 'NanumSquare';
	font-weight: 400;
	src: local('./NanumSquare Regular'),
	url('/fonts/NanumSquare/NanumSquareRegular.woff2') format('woff2'),
	url('/fonts/NanumSquare/NanumSquareRegular.woff') format('woff'),
	url('/fonts/NanumSquare/NanumSquareRegular.ttf') format('truetype');
}
@font-face {
	font-family: 'NanumSquare';
	font-weight: 100;
	src: local('./NanumSquare Light'),
	url('/fonts/NanumSquare/NanumSquareLight.woff2') format('woff2'),
	url('/fonts/NanumSquare/NanumSquareLight.woff') format('woff'),
	url('/fonts/NanumSquare/NanumSquareLight.ttf') format('truetype');
}
