@import 'base';


// Skel Lib 
@import 'libs/vars';
@import 'libs/ruucm-functions';
@import 'libs/mixins';
@import 'libs/skel';

// Ruucm Mixins
@import "libs/bourbon/bourbon";
@import 'libs/ruucm-mixins';

@include skel-breakpoints((
  xlarge: '(max-width: 1680px)',
  large: '(max-width: 1280px)',
  medium: '(max-width: 980px)',
  small: '(max-width: 736px)',
  xsmall: '(max-width: 480px)',
  xxsmall: '(max-width: 360px)'
));


@include skel-layout((
  reset: 'full',
  boxModel: 'border',
));

// Bootstrap Grid Only
$enable-flex:               true;
$enable-grid-classes:       true;

@import 'bootstrap/scss/functions';
@import 'bootstrap/scss/variables';
@import 'bootstrap/scss/mixins';
@import 'bootstrap/scss/grid';

@import 'base/fonts';
@import 'images';

body {
  font-family: NanumSquare;
}


/* Color schemes */
.demo-2 {
  --color-text: #ddedf3;
  --color-bg: linear-gradient(145deg, #bfb5fd, #4dd7d1) fixed;
  --color-link: #934ae8;
  --color-link-hover: #4facd6;
  --color-info: #ddedf3;
  --color-main-text: #ddedf3;
  --color-scroll-text: #934ae8;
  --font-scroll-text: 'Nanum Gothic Coding', monospace;
  --fontsize-scroll-text: 8vw;
}

.content__main {
  color: var(--color-main-text);
}

.content__text {
  mix-blend-mode: color-burn;
}