/**
 *  Override Default Orange Colors
 */

::-moz-selection {
	background: white;
	color: #fff;
}

::selection {
	background: white;
	color: #fff;
}

.navmenu-header.background-dark .navmenu-brand>.light:focus,
.navmenu-header.background-dark .navmenu-brand>.light:hover {
	color: #2C245F;
}

.navmenu-nav .dropdown-menu.background-dark>.active>a,
.navmenu-nav .dropdown-menu.background-dark>li>a:focus,
.navmenu-nav .dropdown-menu.background-dark>li>a:hover,
.navmenu-nav.background-dark .nav>.active>a,
.navmenu-nav.background-dark .nav>li>a:focus,
.navmenu-nav.background-dark .nav>li>a:hover {
	color: #2C245F;
}

body {
	&.background-dark .btn-link:hover {
		color: #2C245F;
	}
	::-moz-selection {
		background: rgba(64, 50, 125, 0.99);
		color: _palette(fg);
	}
	::selection {
		background: rgba(64, 50, 125, 0.99);
		color: _palette(fg);
	}
	nav {
		::-moz-selection {
			background: rgba(44, 34, 97, 0.99);
			color: #2C2261;
		}
		::selection {
			background: rgba(44, 34, 97, 0.99);
			color: #2C2261;
		}
	}
}
.slider-creative .owl-item .toggle-fullscreen {
	color: _palette(bg-light);
	border-color: _palette(bg-light);
}

/**
 *	Overriding Nav
 */

body .navmenu-nav .nav>li>a {
	font-family: 'NanumSquare', 'Sans-serif';
	font-weight: 700;
}

body .navmenu-header-overlay {
	background-color: white;
}

/**
 *	Hide loading anim on mobile
 */

@include breakpoint(small) {
	.splash {
		display: none;
		;
	}
}

/**
 *	Debug iPhone WebKit CSS animations cause flicker.
 */
.no-flick, .wpb_animate_when_almost_visible {
	-webkit-perspective: 1000;
	-webkit-backface-visibility: hidden !important;
	backface-visibility: hidden !important;
}